@page "/login"

<div class="py-4 mt-4">
    <div class="col-md-4 m-auto border py-4">
        <h3 class="col-12 text-primary text-center py-2">
            <strong>Login</strong>
        </h3>

        <form>
            <input id="email" placeholder="Email..." class="form-control mb-2" />
            <input type="password" placeholder="Password..." id="password" class="form-control mb-2" />

            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Log in</button>
            <a href="/registro"
               class="btn btn-primary btn-block text-white mt-3"><i class="fas fa-user-plus"></i> Register New User</a>
        </form>
    </div>
</div>

@code {

}
