<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ModalDeleteConfirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ejemploModalLabel">Confirm Removal</h5>
                <button type="button" class="close bg-dark" data-dismiss="modal" aria-label="Close" @onclick="()=> OnConfirmChanged(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="()=> OnConfirmChanged(false)">
                    Cancel
                </button>
                @if (StarProcess)
                {
                    <button type="button" class="btn btn-danger">
                        <i class="fade fa-spin fa-spiner"></i>
                        processing ...
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-danger" @onclick="()=> OnConfirmChanged(true)">
                        Remove
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<bool> ConfirmChanged { get; set; }
    public bool StarProcess { get; set; } = false;

    protected async Task OnConfirmChanged(bool value)
    {
        if (value)
        {
            StarProcess = true;
            await ConfirmChanged.InvokeAsync(value);
            StarProcess = false;
        }
    }

}
